@charset "UTF-8";

@media screen and (min-width: 992px){ 


    p {
        font-size: 16px;
        line-height: 45px;
        margin-left: 10px;
    }

    section#firstblock {
        width: 91.4%;
    }

    section#secondblock {
        width: 45%;
        display: inline-block;
        border-radius: 0px 0px 0px 10px; 
        padding: 20.3px;
    }

    section#secondblock > h2 {
        margin-left: 30px;
    }
    
    
    section#secondblock > p#pPrice {
        margin-left: 30px;
    }
    
    section#secondblock > p#pPrice2 {
        margin-left: 10px;
    }

    section#secondblock > p {
        margin-left: 30px;
        padding: ;
    }

    section#thirdblock {
        width: 45%;
        display: inline-block;
        border-radius: 0px 0px 10px 0px;
        margin-left: -5px;
    }

    section#thirdblock > h2 {
        margin-left: 30px;
    }

    section#thirdblock > p {
        padding-bottom: 32px;
        margin-left: 50px;
    }

}